
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-image: url("https://imgs.search.brave.com/kVEr_tL4QPEEQtg5PepnUYc9qtZAJIWWX9xJHlhlSJU/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9ibG9n/Lm9wZW5jbGFzc3Jv/b21zLmNvbS9lcy93/cC1jb250ZW50L3Vw/bG9hZHMvc2l0ZXMv/NS8yMDE3LzA5L0Fk/b2JlU3RvY2tfMTI2/MDE2ODg5YXBhaXNh/ZG8uanBn");
    background-size: cover;
}

.h1 {
    color: black;
}

.list-group {
    border: solid black;
    border-width: 0px 3px 3px 0px;
}

.list-group-item button{
    display: none;
}

.list-group-item:hover button {
    display: initial;
    cursor: pointer;
}